*{
    margin:0;
    padding:0;
}


/* MAIN HEADER STYLES */

.main-header{
    background-color: black;
}

.upper-links{
    align-items: center;
}

.upper-links > a{
    color:white;
    text-decoration:none;
    margin:0 1em;
    font-size:13px;
    font-weight:bold;
}

#navbarDarkDropdownMenuLink{
    padding:0;
}

.upper-links a:hover{
    color:rgb(120, 37, 158);
}

.main-logo{
    width: 80px;
}

.navbar{
    background-color: rgb(39, 36, 36);
    box-shadow:
  0px 5.7px 3.6px rgba(0, 0, 0, 0.103),
  0px 15.7px 10px rgba(0, 0, 0, 0.105),
  0px 37.7px 24.1px rgba(0, 0, 0, 0.091),
  0px 125px 80px rgba(0, 0, 0, 0.07)
;
}

.nav-item{
    margin:.5em 0;
}

.responsive-part{
    padding: 0 5%;
}

.navbar a:hover{
    color:gray;
}

.play-btn, .log-btn{
    border: 3px solid white;
    border-radius: 30px;
    text-decoration: none;
    color:white;
    padding: .5em 3.5em;
    margin:0 .5em;
    font-weight: bold;
    transition:.3s;
    font-size: clamp(.5rem, 1.1vw, .9rem);
}

.play-btn:hover{
    background-color: white;
    color:black;
}

.log-btn:hover{
    background-color: white;
    color:black;
}

.log-play-mobile-btns{
    display:none;
}

.play-mobile-btn, .log-mobile-btn{
    border: 3px solid white;
    border-radius: 30px;
    text-decoration: none;
    color:white;
    padding: .5em 3.5em;
    margin:0 .5em;
    font-weight: bold;
    transition:.3s;
    font-size: clamp(.8rem, 1.1vw, .9rem);
}

.nav-link{
    color:white;
    margin-left: 1.5em;
    font-weight:bold;
}

.prize-container{
    background: rgb(101,118,163);
    background: linear-gradient(4deg, rgba(101,118,163,1) 0%, rgba(101,5,97,0.9805672268907563) 0%, rgba(60,22,113,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(14,3,28,1) 0%, rgba(18,4,36,0.9217436974789917) 0%, rgba(26,7,50,0.7732843137254902) 0%, rgba(41,21,106,1) 0%, rgba(0,0,0,1) 0%, rgba(6,4,11,1) 0%, rgba(25,13,46,1) 0%, rgba(31,16,56,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(2,1,4,1) 0%, rgba(22,15,29,1) 0%, rgba(28,18,43,1) 0%, rgba(0,0,0,1) 0%, rgba(26,14,47,1) 0%, rgba(24,9,46,1) 0%, rgba(0,0,0,1) 0%, rgba(28,27,27,1) 0%, rgba(23,22,22,1) 0%, rgba(21,20,20,1) 0%, rgba(0,0,0,1) 0%, rgba(49,89,188,1) 0%, rgba(61,75,168,1) 0%, rgba(35,14,131,1) 0%, rgba(34,14,132,1) 0%, rgba(34,14,132,1) 0%, rgba(38,93,168,1) 0%, rgba(75,118,201,1) 0%, rgba(65,111,192,1) 0%, rgba(61,105,193,1) 0%, rgba(16,101,178,1) 0%, rgba(74,133,214,1) 100%, rgb(65, 188, 192) 100%, rgba(17,69,145,1) 100%, rgba(107,102,13,1) 100%, rgba(56,55,5,1) 100%, rgba(17,17,158,1) 100%, rgba(0,0,0,1) 100%, rgba(40,40,107,0.885329131652661) 100%, rgba(49,115,204,1) 100%, rgba(0,0,0,1) 100%, rgba(50,53,60,1) 100%, rgba(20,19,19,1) 100%, rgba(138,136,136,1) 100%, rgba(106,97,97,1) 100%, rgba(11,10,10,1) 100%, rgba(0,0,0,1) 100%, rgba(60,54,54,1) 100%, rgba(29,26,26,1) 100%, rgba(30,27,27,1) 100%, rgba(20,18,18,1) 100%, rgba(89,56,7,1) 100%, rgba(33,11,71,1) 100%, rgba(38,18,66,0.9861694677871149) 100%, rgba(54,33,105,0) 100%, rgba(59,29,107,1) 100%, rgba(65,25,116,1) 100%, rgba(102,47,175,1) 100%, rgba(33,15,57,1) 100%, rgba(27,8,52,1) 100%);
box-shadow:
  0px 5.7px 3.6px rgba(0, 0, 0, 0.103),
  0px 15.7px 10px rgba(0, 0, 0, 0.105),
  0px 37.7px 24.1px rgba(0, 0, 0, 0.091),
  0px 125px 80px rgba(0, 0, 0, 0.07)
;
}

.prize-container img{
    width:30px;
}

.prize-link{
    text-decoration:none;
    color:white;
    align-items: center;
    font-weight:bold;
    font-size:15px;
}

/* SHOWCASE STYLES */

.showcase{
    min-height: 70vh;
    margin-top:9.5em;
    width:100%;
    background-color: beige;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5b981d61ec4eb7dc9c7aac8a/1548003125559-W3CZN8C9Q6JF8EG1MMOD/Star-Stable-pre-spring-2018-wallpaper.jpg);
    background-position: center center;
    background-size: cover;
    display:flex;
    align-items: center;
    font-family: 'Fredoka One';
    font-family: 'Nunito', sans-serif;
}

.showcase-text{
    font-weight:bold;
    text-align:center;
}

.headline{
    padding: 0 1em;
    font-size: 4rem;
    text-shadow: 4px 4px 13px rgba(0, 0, 0, 1);
    transition:.3s;
    max-width: 15.5em;
}

.main-play-btn{
    text-decoration:none;
    background: rgb(101,118,163);
    background: linear-gradient(4deg, rgba(101,118,163,1) 0%, rgba(101,5,97,0.9805672268907563) 0%, rgba(60,22,113,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(14,3,28,1) 0%, rgba(18,4,36,0.9217436974789917) 0%, rgba(26,7,50,0.7732843137254902) 0%, rgba(41,21,106,1) 0%, rgba(0,0,0,1) 0%, rgba(6,4,11,1) 0%, rgba(25,13,46,1) 0%, rgba(31,16,56,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(2,1,4,1) 0%, rgba(22,15,29,1) 0%, rgba(28,18,43,1) 0%, rgba(0,0,0,1) 0%, rgba(26,14,47,1) 0%, rgba(24,9,46,1) 0%, rgba(0,0,0,1) 0%, rgba(28,27,27,1) 0%, rgba(23,22,22,1) 0%, rgba(21,20,20,1) 0%, rgba(0,0,0,1) 0%, rgba(49,89,188,1) 0%, rgba(61,75,168,1) 0%, rgba(35,14,131,1) 0%, rgba(34,14,132,1) 0%, rgba(34,14,132,1) 0%, rgba(38,93,168,1) 0%, rgba(75,118,201,1) 0%, rgba(65,111,192,1) 0%, rgba(61,105,193,1) 0%, rgba(114,16,178,1) 0%, rgba(192,65,140,1) 100%, rgba(17,69,145,1) 100%, rgba(107,102,13,1) 100%, rgba(56,55,5,1) 100%, rgba(17,17,158,1) 100%, rgba(0,0,0,1) 100%, rgba(40,40,107,0.885329131652661) 100%, rgba(49,115,204,1) 100%, rgba(0,0,0,1) 100%, rgba(50,53,60,1) 100%, rgba(20,19,19,1) 100%, rgba(138,136,136,1) 100%, rgba(106,97,97,1) 100%, rgba(11,10,10,1) 100%, rgba(0,0,0,1) 100%, rgba(60,54,54,1) 100%, rgba(29,26,26,1) 100%, rgba(30,27,27,1) 100%, rgba(20,18,18,1) 100%, rgba(89,56,7,1) 100%, rgba(33,11,71,1) 100%, rgba(38,18,66,0.9861694677871149) 100%, rgba(54,33,105,0) 100%, rgba(59,29,107,1) 100%, rgba(65,25,116,1) 100%, rgba(102,47,175,1) 100%, rgba(33,15,57,1) 100%, rgba(27,8,52,1) 100%, rgba(60,31,100,0.2718837535014006) 100%);
    font-size:2rem;
    margin:.5em auto;
    padding: .4em 1.5em;
    border-radius:50px;
    transition:.3s;
}

.main-play-btn:hover{
    font-size:2.3rem;
}

/* DESCRIPTION STYLES */

.game-description{
    background: rgb(101,118,163);
background: linear-gradient(43deg, rgba(101,118,163,1) 0%, rgba(60,22,113,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(14,3,28,1) 0%, rgba(18,4,36,0.9217436974789917) 0%, rgba(26,7,50,0.7732843137254902) 0%, rgba(41,21,106,1) 0%, rgba(0,0,0,1) 0%, rgba(6,4,11,1) 0%, rgba(25,13,46,1) 0%, rgba(31,16,56,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(2,1,4,1) 0%, rgba(22,15,29,1) 0%, rgba(28,18,43,1) 0%, rgba(0,0,0,1) 0%, rgba(26,14,47,1) 0%, rgba(24,9,46,1) 0%, rgba(0,0,0,1) 0%, rgba(28,27,27,1) 0%, rgba(23,22,22,1) 0%, rgba(21,20,20,1) 0%, rgba(0,0,0,1) 0%, rgba(49,89,188,1) 0%, rgba(61,75,168,1) 0%, rgba(35,14,131,1) 0%, rgba(34,14,132,1) 0%, rgba(34,14,132,1) 0%, rgba(38,93,168,1) 0%, rgba(75,118,201,1) 0%, rgba(65,111,192,1) 0%, rgba(61,105,193,1) 0%, rgba(39,103,186,1) 0%, rgba(101,5,97,0.9805672268907563) 0%, rgba(189,193,255,1) 0%, rgba(158,155,232,1) 42%, rgba(199,163,243,1) 75%, rgba(222,167,249,1) 100%, rgba(74,133,214,1) 100%, rgba(192,65,140,1) 100%, rgba(17,69,145,1) 100%, rgba(107,102,13,1) 100%, rgba(56,55,5,1) 100%, rgba(17,17,158,1) 100%, rgba(0,0,0,1) 100%, rgba(40,40,107,0.885329131652661) 100%, rgba(49,115,204,1) 100%, rgba(0,0,0,1) 100%, rgba(50,53,60,1) 100%, rgba(20,19,19,1) 100%, rgba(138,136,136,1) 100%, rgba(106,97,97,1) 100%, rgba(11,10,10,1) 100%, rgba(0,0,0,1) 100%, rgba(60,54,54,1) 100%, rgba(29,26,26,1) 100%, rgba(30,27,27,1) 100%, rgba(20,18,18,1) 100%, rgba(89,56,7,1) 100%, rgba(33,11,71,1) 100%, rgba(38,18,66,0.9861694677871149) 100%, rgba(54,33,105,0) 100%, rgba(59,29,107,1) 100%, rgba(65,25,116,1) 100%, rgba(102,47,175,1) 100%, rgba(33,15,57,1) 100%);
}

.description-content{
    text-align: center;
    max-width: 40%;
    font-size: 1.1rem;
    margin: 0 auto;
    color:white;
}

.description-content p{
    margin:0;
    padding:0;
}

/* WINTER SECTION STYLES */

.winter-section{
    padding:4.375em .6em;
    background: rgb(101,118,163);
background: linear-gradient(43deg, rgba(101,118,163,1) 0%, rgba(60,22,113,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(14,3,28,1) 0%, rgba(18,4,36,0.9217436974789917) 0%, rgba(26,7,50,0.7732843137254902) 0%, rgba(41,21,106,1) 0%, rgba(0,0,0,1) 0%, rgba(6,4,11,1) 0%, rgba(25,13,46,1) 0%, rgba(31,16,56,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(2,1,4,1) 0%, rgba(22,15,29,1) 0%, rgba(28,18,43,1) 0%, rgba(0,0,0,1) 0%, rgba(26,14,47,1) 0%, rgba(24,9,46,1) 0%, rgba(0,0,0,1) 0%, rgba(28,27,27,1) 0%, rgba(23,22,22,1) 0%, rgba(21,20,20,1) 0%, rgba(0,0,0,1) 0%, rgba(49,89,188,1) 0%, rgba(61,75,168,1) 0%, rgba(35,14,131,1) 0%, rgba(34,14,132,1) 0%, rgba(34,14,132,1) 0%, rgba(38,93,168,1) 0%, rgba(75,118,201,1) 0%, rgba(65,111,192,1) 0%, rgba(61,105,193,1) 0%, rgba(39,103,186,1) 0%, rgba(101,5,97,0.9805672268907563) 0%, rgba(189,193,255,1) 0%, rgba(158,155,232,1) 0%, rgba(12,29,138,1) 0%, rgba(109,128,250,1) 100%, rgba(162,175,241,1) 100%, rgba(163,186,243,1) 100%, rgba(222,167,249,1) 100%, rgba(74,133,214,1) 100%, rgba(192,65,140,1) 100%, rgba(17,69,145,1) 100%, rgba(107,102,13,1) 100%, rgba(56,55,5,1) 100%, rgba(17,17,158,1) 100%, rgba(0,0,0,1) 100%, rgba(40,40,107,0.885329131652661) 100%, rgba(49,115,204,1) 100%, rgba(0,0,0,1) 100%, rgba(50,53,60,1) 100%, rgba(20,19,19,1) 100%, rgba(138,136,136,1) 100%, rgba(106,97,97,1) 100%, rgba(11,10,10,1) 100%, rgba(0,0,0,1) 100%, rgba(60,54,54,1) 100%, rgba(29,26,26,1) 100%, rgba(30,27,27,1) 100%, rgba(20,18,18,1) 100%, rgba(89,56,7,1) 100%, rgba(33,11,71,1) 100%, rgba(38,18,66,0.9861694677871149) 100%, rgba(54,33,105,0) 100%, rgba(59,29,107,1) 100%, rgba(65,25,116,1) 100%, rgba(102,47,175,1) 100%, rgba(33,15,57,1) 100%);
}

.winter-container{
    background: rgb(101,118,163);
background: linear-gradient(43deg, rgba(101,118,163,1) 0%, rgba(94,48,158,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(14,3,28,1) 0%, rgba(18,4,36,0.9217436974789917) 0%, rgba(26,7,50,0.7732843137254902) 0%, rgba(41,21,106,1) 0%, rgba(0,0,0,1) 0%, rgba(6,4,11,1) 0%, rgba(25,13,46,1) 0%, rgba(31,16,56,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(2,1,4,1) 0%, rgba(22,15,29,1) 0%, rgba(28,18,43,1) 0%, rgba(0,0,0,1) 0%, rgba(26,14,47,1) 0%, rgba(24,9,46,1) 0%, rgba(0,0,0,1) 0%, rgba(28,27,27,1) 0%, rgba(23,22,22,1) 0%, rgba(21,20,20,1) 0%, rgba(0,0,0,1) 0%, rgba(49,89,188,1) 0%, rgba(61,75,168,1) 0%, rgba(35,14,131,1) 0%, rgba(34,14,132,1) 0%, rgba(34,14,132,1) 0%, rgba(38,93,168,1) 0%, rgba(75,118,201,1) 0%, rgba(65,111,192,1) 0%, rgba(61,105,193,1) 0%, rgba(39,103,186,1) 0%, rgba(101,5,97,0.9805672268907563) 0%, rgba(189,193,255,1) 0%, rgba(158,155,232,1) 0%, rgba(12,29,138,1) 0%, rgba(151,74,184,1) 0%, rgba(144,81,193,1) 0%, rgba(224,185,255,1) 0%, rgba(231,175,255,1) 34%, rgba(132,166,255,1) 74%, rgba(105,124,246,1) 96%, rgba(96,115,236,1) 100%, rgba(109,128,250,1) 100%, rgba(162,175,241,1) 100%, rgba(163,186,243,1) 100%, rgba(222,167,249,1) 100%, rgba(74,133,214,1) 100%, rgba(192,65,140,1) 100%, rgba(17,69,145,1) 100%, rgba(107,102,13,1) 100%, rgba(56,55,5,1) 100%, rgba(17,17,158,1) 100%, rgba(0,0,0,1) 100%, rgba(40,40,107,0.885329131652661) 100%, rgba(49,115,204,1) 100%, rgba(0,0,0,1) 100%, rgba(50,53,60,1) 100%, rgba(20,19,19,1) 100%, rgba(138,136,136,1) 100%, rgba(106,97,97,1) 100%, rgba(11,10,10,1) 100%, rgba(0,0,0,1) 100%, rgba(60,54,54,1) 100%, rgba(29,26,26,1) 100%, rgba(30,27,27,1) 100%, rgba(20,18,18,1) 100%, rgba(89,56,7,1) 100%, rgba(33,11,71,1) 100%, rgba(38,18,66,0.9861694677871149) 100%, rgba(54,33,105,0) 100%, rgba(59,29,107,1) 100%, rgba(65,25,116,1) 100%, rgba(102,47,175,1) 100%, rgba(33,15,57,1) 100%);
    border-radius: 15px;
    padding:60px;
    max-width:1150px;
    margin: auto;
    color:white;
    font-family: 'Fredoka One';
    font-family: 'Nunito', sans-serif;
}

.festive-btn{
    text-decoration: none;
    color:white;
    background: rgb(101,118,163);
background: linear-gradient(0deg, rgba(101,118,163,1) 0%, rgba(94,48,158,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(14,3,28,1) 0%, rgba(18,4,36,0.9217436974789917) 0%, rgba(26,7,50,0.7732843137254902) 0%, rgba(41,21,106,1) 0%, rgba(0,0,0,1) 0%, rgba(6,4,11,1) 0%, rgba(25,13,46,1) 0%, rgba(31,16,56,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(2,1,4,1) 0%, rgba(22,15,29,1) 0%, rgba(28,18,43,1) 0%, rgba(0,0,0,1) 0%, rgba(26,14,47,1) 0%, rgba(24,9,46,1) 0%, rgba(0,0,0,1) 0%, rgba(28,27,27,1) 0%, rgba(23,22,22,1) 0%, rgba(21,20,20,1) 0%, rgba(0,0,0,1) 0%, rgba(49,89,188,1) 0%, rgba(61,75,168,1) 0%, rgba(35,14,131,1) 0%, rgba(34,14,132,1) 0%, rgba(34,14,132,1) 0%, rgba(38,93,168,1) 0%, rgba(75,118,201,1) 0%, rgba(65,111,192,1) 0%, rgba(61,105,193,1) 0%, rgba(39,103,186,1) 0%, rgba(101,5,97,0.9805672268907563) 0%, rgba(189,193,255,1) 0%, rgba(158,155,232,1) 0%, rgba(12,29,138,1) 0%, rgba(151,74,184,1) 0%, rgba(144,81,193,1) 0%, rgba(117,0,210,1) 0%, rgba(216,105,246,1) 100%, rgba(132,166,255,1) 100%, rgba(231,175,255,1) 100%, rgba(96,115,236,1) 100%, rgba(109,128,250,1) 100%, rgba(162,175,241,1) 100%, rgba(163,186,243,1) 100%, rgba(222,167,249,1) 100%, rgba(74,133,214,1) 100%, rgba(192,65,140,1) 100%, rgba(17,69,145,1) 100%, rgba(107,102,13,1) 100%, rgba(56,55,5,1) 100%, rgba(17,17,158,1) 100%, rgba(0,0,0,1) 100%, rgba(40,40,107,0.885329131652661) 100%, rgba(49,115,204,1) 100%, rgba(0,0,0,1) 100%, rgba(50,53,60,1) 100%, rgba(20,19,19,1) 100%, rgba(138,136,136,1) 100%, rgba(106,97,97,1) 100%, rgba(11,10,10,1) 100%, rgba(0,0,0,1) 100%, rgba(60,54,54,1) 100%, rgba(29,26,26,1) 100%, rgba(30,27,27,1) 100%, rgba(20,18,18,1) 100%, rgba(89,56,7,1) 100%, rgba(33,11,71,1) 100%, rgba(38,18,66,0.9861694677871149) 100%, rgba(54,33,105,0) 100%, rgba(59,29,107,1) 100%, rgba(65,25,116,1) 100%, rgba(102,47,175,1) 100%, rgba(33,15,57,1) 100%);
padding:.5em 1em;
border-radius:50px;
border: 4px solid rgb(131, 54, 175);
font-size: clamp(.8rem, 2vw, 1rem); 
}

.festival-title{
    font-size: clamp(2rem, 3vw, 3rem); 
    margin:.3em 0;
}


/* RESPONSIVE STYLES */

@media(max-width:992px){
    .play-btn{
        display:none;
    }
    .log-btn{
        display:none;
    }
    .log-play-mobile-btns{
        display:flex;
        justify-content: space-around;
    }
    .winter-container{
        text-align:center;
    }
}

@media(max-width:768px){
    .headline{
        font-size:2rem;
    }
    .main-play-btn{
        font-size:1.5rem;
    }
    .showcase{
        min-height:50vh;
    }
    .description-content{
        max-width:90%;
    }
    .main-play-btn:hover{
        font-size:1.8rem;
    }
}

